h1 {
  font-size: 48px;
  text-align: start;
}

ul {
  list-style: none;
  margin: 0;
  display: inline;
  padding: 0;
  text-align: start;
}

p {
  margin: 0;
}
.WeatherInfo .temperature {
  font-size: 48px;
  padding: 3%;
  position: relative;
  top: -8px;
}

.WeatherInfo .weather-data {
  position: relative;
  left: 4px;
}

.WeatherInfo .minTemp {
  opacity: 0.8;
}

.WeatherTemperature .unit {
  font-size: 16px;
  position: relative;
  line-height: 1;
  top: -30px;
}

.App {
  text-align: center;
  color: #475053;
  margin: 30px;
}

.container {
  max-width: 600px;
}

.card {
  background-color: #f0fbff;
  padding: 25px;
  border: 1px solid black;
}

.btn-primary {
  background-color: #2e94b9 !important;
}

.btn-outline-primary {
  opacity: 0.8;
}

.btn:hover {
  transition: all 200ms ease;
  background-color: #2e94b9;
  border-color: #2e94b9;
}

.current-date {
  color: #475053;
  margin: 5px 4px;
  text-align: start;
}

.icon {
  text-align: center;
}

.contact-me {
  color: black;
  font-size: 12px;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
